<h1>New Originalparent</h1>

<%= render 'form', originalparent: @originalparent %>

<%= link_to 'Back', originalparents_path %>
<div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
